<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red lighten-1" [containerInside]="false">
  <mdb-navbar-brand>
    <span class="navbar-brand">PokemonGames</span>
  </mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">
      <li [class]="isActive('generation') ? 'nav-item active' : 'nav-item'">
        <a class="nav-link waves-light" href="/generations" mdbWavesEffect>
          Generations<span *ngIf="isActive('generation')" class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
