<app-base-navbar activePage="generation"></app-base-navbar>

<div class="container mt-5">
  <div *ngIf="isLoading()" class="d-flex justify-content-center">
    <mdb-spinner spinnerColor="red"></mdb-spinner>
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="!isLoading()">
    <h2 class="h2-responsive">Generation Details</h2>

    <div class="chart-responsive">
      <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors"
        [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
      </canvas>
    </div>

    <h3 class="h3-responsive mt-5">Added Resources Lists</h3>

    <div class="list-group">
      <app-base-list [values]="data.abilities" name="Added Abilities" class="mb-2"></app-base-list>
      <app-base-list [values]="data.moves" name="Added Moves" class="mb-2"></app-base-list>
      <app-base-list [values]="data.pokemon_species" name="Added Species" class="mb-2"></app-base-list>
      <app-base-list [values]="data.types" name="Added Types" class="mb-2"></app-base-list>
      <app-base-list [values]="data.version_groups" name="Added Group Versions" class="mb-2"></app-base-list>
    </div>
  </div>
</div>
