/* You can add global styles to this file, and also import other style files */

.h-100 {
  height: 100vh !important;
}

.chart-responsive {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.ngx-pagination .current {
  background: grey !important;
}
