<a class="list-group-item list-group-item-action waves-light m-0" (click)="collapse.toggle()" [innerHTML]="name"
  mdbWavesEffect></a>

<div mdbCollapse #collapse="bs-collapse">
  <ul class="list-group list-group-flush m-0">
    <li *ngFor="let value of values | paginate: paginateOptions; let index = index"
      class="list-group-item text-capitalize" [innerHTML]="formatName(value, index)"></li>

    <li *ngIf="!values.length" class="list-group-item text-center">No Data</li>
  </ul>

  <div *ngIf="values.length" class="text-center mt-3">
    <pagination-controls [id]="id" (pageChange)="pageChange($event)" directionLinks="true" responsive="true"
      previousLabel="Previous" nextLabel="Next" autoHide="true" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on Page">
    </pagination-controls>
  </div>
</div>
